<!-- initial commit -->
<h1>Basic School Tracking System</h1>

<h2>Classroom List</h2>

<h3 *ngIf="classrooms.length == 0">So far you have not added any classroom yet. <br> Try adding one now :)</h3>

<input #inputbox type=" text">
<button class="button" (click)="addNewClassroom(inputbox.value)">Add a new classroom</button>


<ul class="">
  <li *ngFor="let classroom of classrooms; let i = index" (click)="viewClassroom(classroom, index)">
    <i class="em em-no_entry" aria-role="presentation" aria-label="Remove" (click)="removeClassroom(i);$event.stopPropagation()"></i>
    {{classroom.className}}  <span > c/o {{classroom.teacher.personalDetails.title}} {{classroom.teacher.personalDetails.lastName}}</span>
  </li>
</ul>




<div *ngIf="selectedClass">
    <h2>Classroom Details</h2>
    <span class="h3">Classroom: {{selectedClass.className}}</span> <i class="em em-pencil2" aria-role="presentation" aria-label="PENCIL" (click)="toggle('editClass');"></i> <br>

    <div *ngIf="toggles.editClass">
      <label >Classroom Name: </label>  <br>
      <input  [(ngModel)]="selectedClass.className" placeholder="name" (ngModelChange)="saveAllData()"/>
    </div>
    
    <span class="h3">Teacher: {{selectedClass.teacher.personalDetails.title}} {{selectedClass.teacher.personalDetails.firstName}} {{selectedClass.teacher.personalDetails.lastName}}  </span>
    <i class="em em-pencil2" aria-role="presentation" aria-label="PENCIL" (click)="toggle('editTeacher');"></i> <br>
    <div *ngIf="toggles.editTeacher">
        <label >Title: </label>  <br>
        <input [(ngModel)]="selectedClass.teacher.personalDetails.title" placeholder="Mr/Ms/Mrs" (ngModelChange)="saveAllData()"/> <br>
        <label >Firstname: </label>  <br>
        <input [(ngModel)]="selectedClass.teacher.personalDetails.firstName" placeholder="First Name" (ngModelChange)="saveAllData()"/> <br>
        <label >Middlename: </label> <br>
        <input [(ngModel)]="selectedClass.teacher.personalDetails.middleName" placeholder="Middle Name" (ngModelChange)="saveAllData()"/> <br>
        <label >Lastname: </label> <br>
        <input [(ngModel)]="selectedClass.teacher.personalDetails.lastName" placeholder="Last Name" (ngModelChange)="saveAllData()"/> <br>
        <label >Age: </label>  <br>
        <input type="number" [(ngModel)]="selectedClass.teacher.personalDetails.age" placeholder="Age" (ngModelChange)="saveAllData()"/> <br>
        <label >PRC: </label>  <br>
        <input type="number" [(ngModel)]="selectedClass.teacher.prcID" placeholder="PRC ID" (ngModelChange)="saveAllData()"/> <br>
    </div>



    
    <span class="h3">Students</span>
   

    <ul>
        <li *ngFor="let student of selectedClass.students; let i = index" (click)="editStudent(student, index);">
            <i class="em em-no_entry" aria-role="presentation" aria-label="Remove" (click)="removeStudent(i);$event.stopPropagation()"></i>
            SID#{{student.studentId}}: {{student.personalDetails.firstName}} {{student.personalDetails.middleName}} {{ student.personalDetails.lastName}}
          </li>
    </ul>

    <button class="button" (click)="hideStudentInput=false" *ngIf="hideStudentInput">Add a new student</button>

    <div *ngIf="!hideStudentInput">      
      <h3>New Student</h3>
      <label >Student ID: </label> <br>
      <input #newStudentId type="number" placeholder="ID #"/> <br>
      <label >Firstname: </label>  <br>
      <input #newStudentFirstName placeholder="First Name"/> <br>
      <label >Middlename: </label> <br>
      <input #newStudentMiddleName placeholder="Middle Name"/> <br>
      <label >Lastname: </label> <br>
      <input #newStudentLastname placeholder="Last Name"/> <br>
      <button class="button" (click)="addNewStudent(newStudentFirstName.value,newStudentMiddleName.value,newStudentLastname.value, newStudentId.value);hideStudentInput=true">Save</button>
    </div>


    <div *ngIf="selectedStudent">
        <br> <br>
        <h3>Student Details <i class="em em-pencil2" aria-role="presentation" aria-label="PENCIL" (click)="toggle('editStudent');"></i></h3>
        <span>Student ID: {{selectedStudent.studentId}}</span><br>
        <span>Student: {{selectedStudent.personalDetails.title}} {{selectedStudent.personalDetails.firstName}} {{selectedStudent.personalDetails.lastName}}  </span><br>
        <span>Age: {{selectedStudent.personalDetails.age}}</span> <br>
        <br>
        <br>
        <div *ngIf="toggles.editStudent">
          
        <label >Student ID: </label>  <br>
        <input type="number" [(ngModel)]="selectedStudent.studentId" placeholder="Student ID" (ngModelChange)="saveAllData()"/> <br>
        <label >Title: </label>  <br>
        <input [(ngModel)]="selectedStudent.personalDetails.title" placeholder="Mr/Ms/Mrs" (ngModelChange)="saveAllData()"/> <br>
        <label >Firstname: </label>  <br>
        <input [(ngModel)]="selectedStudent.personalDetails.firstName" placeholder="First Name" (ngModelChange)="saveAllData()"/> <br>
        <label >Middlename: </label> <br>
        <input [(ngModel)]="selectedStudent.personalDetails.middleName" placeholder="Middle Name" (ngModelChange)="saveAllData()"/> <br>
        <label >Lastname: </label> <br>
        <input [(ngModel)]="selectedStudent.personalDetails.lastName" placeholder="Last Name" (ngModelChange)="saveAllData()"/> <br>
        <label >Age: </label>  <br>
        <input type="number" [(ngModel)]="selectedStudent.personalDetails.age" placeholder="Age" (ngModelChange)="saveAllData()"/> <br>
        
        </div>

    </div>


 
    
</div>

<!-- <router-outlet></router-outlet> -->