<!-- initial commit -->
<h1>Basic School Tracking System</h1>

<h2>Classrooms</h2>

<input #inputbox type=" text">
<button (click)="addNewClassroom(inputbox.value)">Add a new classroom</button>

<ul class="">
  <li *ngFor="let classroom of classrooms; let i = index" (click)="viewClassroom(classroom, index)">
    <button (click)="removeClassroom(i);$event.stopPropagation()"><i class="em em-no_entry" aria-role="presentation" aria-label="Remove"></i></button>
    {{classroom.className}}  <span > c/o {{classroom.teacher.personalDetails.title}} {{classroom.teacher.personalDetails.lastName}}</span>
  </li>
</ul>



<div *ngIf="selectedClass">
    <h3>Classroom {{selectedClass.className}}</h3> <button (click)="toggle('editClass');"><i class="em em-pencil2" aria-role="presentation" aria-label="PENCIL"></i></button>

    <div *ngIf="toggles.editClass">
      <label >Classname: </label>  <br>
      <input  [(ngModel)]="selectedClass.className" placeholder="name" (ngModelChange)="saveAllData()"/>
    </div>
    
    <h4>Teacher {{selectedClass.teacher.personalDetails.title}} {{selectedClass.teacher.personalDetails.firstName}} {{selectedClass.teacher.personalDetails.lastName}}  </h4>
    <button (click)="toggle('editTeacher');"><i class="em em-pencil2" aria-role="presentation" aria-label="PENCIL"></i></button>
    <div *ngIf="toggles.editTeacher">
        <label >Title: </label>  <br>
        <input [(ngModel)]="selectedClass.teacher.personalDetails.title" placeholder="Mr/Ms/Mrs" (ngModelChange)="saveAllData()"/> <br>
        <label >Firstname: </label>  <br>
        <input [(ngModel)]="selectedClass.teacher.personalDetails.firstName" placeholder="First Name" (ngModelChange)="saveAllData()"/> <br>
        <label >Middlename: </label> <br>
        <input [(ngModel)]="selectedClass.teacher.personalDetails.middleName" placeholder="Middle Name" (ngModelChange)="saveAllData()"/> <br>
        <label >Lastname: </label> <br>
        <input [(ngModel)]="selectedClass.teacher.personalDetails.lastName" placeholder="Last Name" (ngModelChange)="saveAllData()"/> <br>
        <label >Age: </label>  <br>
        <input type="number" [(ngModel)]="selectedClass.teacher.personalDetails.age" placeholder="Age" (ngModelChange)="saveAllData()"/> <br>
        <label >PRC: </label>  <br>
        <input type="number" [(ngModel)]="selectedClass.teacher.prcID" placeholder="PRC ID" (ngModelChange)="saveAllData()"/> <br>
    </div>



    
    <h4>Students</h4>
    <h3>New Student</h3>
    
    <label >Firstname: </label>  <br>
    <input #newStudentFirstName placeholder="First Name"/> <br>
    <label >Middlename: </label> <br>
    <input #newStudentMiddleName placeholder="Middle Name"/> <br>
    <label >Lastname: </label> <br>
    <input #newStudentLastname placeholder="Last Name"/> <br>
    <label >Student ID: </label> <br>
    <input #newStudentId type="number" placeholder="ID #"/> <br>

    <button (click)="addNewStudent(newStudentFirstName.value,newStudentMiddleName.value,newStudentLastname.value, newStudentId.value)">Add a new student</button>

    <ul>
        <li *ngFor="let student of selectedClass.students; let i = index" (click)="editStudent(student, index);">
            <button (click)="removeStudent(i);$event.stopPropagation()"><i class="em em-no_entry" aria-role="presentation" aria-label="Remove"></i></button>            
            {{student.personalDetails.firstName}} {{student.personalDetails.middleName}} {{ student.personalDetails.lastName}}
          </li>
    </ul>

    <div *ngIf="selectedStudent">

        <h4>Student ID: {{selectedStudent.studentId}}</h4>
        <h4>Student: {{selectedStudent.personalDetails.title}} {{selectedStudent.personalDetails.firstName}} {{selectedStudent.personalDetails.lastName}}  </h4>
        <h4>Age: {{selectedStudent.personalDetails.age}}</h4>
        <button (click)="toggle('editStudent');"><i class="em em-pencil2" aria-role="presentation" aria-label="PENCIL"></i></button>
        <div *ngIf="toggles.editStudent">
          
        <label >Student ID: </label>  <br>
        <input type="number" [(ngModel)]="selectedStudent.studentId" placeholder="Student ID" (ngModelChange)="saveAllData()"/> <br>
        <label >Title: </label>  <br>
        <input [(ngModel)]="selectedStudent.personalDetails.title" placeholder="Mr/Ms/Mrs" (ngModelChange)="saveAllData()"/> <br>
        <label >Firstname: </label>  <br>
        <input [(ngModel)]="selectedStudent.personalDetails.firstName" placeholder="First Name" (ngModelChange)="saveAllData()"/> <br>
        <label >Middlename: </label> <br>
        <input [(ngModel)]="selectedStudent.personalDetails.middleName" placeholder="Middle Name" (ngModelChange)="saveAllData()"/> <br>
        <label >Lastname: </label> <br>
        <input [(ngModel)]="selectedStudent.personalDetails.lastName" placeholder="Last Name" (ngModelChange)="saveAllData()"/> <br>
        <label >Age: </label>  <br>
        <input type="number" [(ngModel)]="selectedStudent.personalDetails.age" placeholder="Age" (ngModelChange)="saveAllData()"/> <br>
        
        </div>

    </div>


 
    
</div>

<!-- <router-outlet></router-outlet> -->